
<app-pagesort></app-pagesort>

<!-- 
<div class="example-header">
  <mat-form-field>
    <input matInput placeholder="Search" autocomplete="off" (keyup)="applyFilter($event)" >
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>
 
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>
   
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> NAME </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}}% </mat-cell>
    </ng-container>
 
    <ng-container matColumnDef="created">
      <mat-header-cell *matHeaderCellDef mat-sort-header> CREATED DATE </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.created | date }} </mat-cell>
    </ng-container>
 
    <ng-container matColumnDef="modified">
      <mat-header-cell *matHeaderCellDef mat-sort-header> MODIFIED DATE </mat-header-cell>
      <mat-cell *matCellDef="let element" > {{element.modified | date }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="country_check_severity">
      <mat-header-cell *matHeaderCellDef mat-sort-header> COUNTRY CHECK SEVERITY </mat-header-cell>
      <mat-cell *matCellDef="let element" > {{element.country_check_severity}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>

  </mat-table>

  <mat-paginator #Paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
  -->